/* COLOR PALLETE:

222831 -DARK BLUE
393e46 -DARK GRAY
00adb5 -LIGHT BLUE
eeeeee -RELAXING WHITE

1e2022 -DARK BLACK
52616b -DARK GRAY
c9d6df -MUTED GRAY
f0f5f9 -MUTED WHITE

--colors--

EF5D60
1e2022
1a936f
ffc857
05668d
eeeeee

 */
 body{
     background-color:#1e2022 ;
     font-family: 'Roboto Mono', monospace;

 }
 a, a:link {
    color: #ffc857;
    transition: all .1s ease;

}
a:hover {
    color: #eeeeee;
}

#welcome{

    /* cursor: none;
    
    margin: auto;
    width: 50%;
    padding: 10px;
    justify-content: center; */

    padding: 100px;

    text-align: center;
    vertical-align: middle;
    line-height: 90px;  
    animation:blinkingText 1.8s infinite;
}
@keyframes blinkingText{

    0%{     color: #eeeeee;    }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color: #eeeeee;  }
    100%{   color: #eeeeee;    }
}
 



.wrapper{

    cursor: url('assets/cursor/0.png'), auto;
    /* cursor: cell;	 */

    margin-right: auto; /* 1 */
    margin-left:  auto; /* 1 */

    width: 960px; /* 2 */

    padding: 10px;

    background-color: #eeeeee;

    border-radius: 3px;
    box-shadow: 0 4px 12px 0px #1e2022;
    opacity: 0;
    transition: all .1s ease;


}

#about{
    margin: auto;
    text-align: center;
    max-width: 960px;
    color: #eeeeee;
}


#toolbar{

    position: fixed;
    padding: 50px;

    
    /* width:  15%;
    height: 5%; */

    top: 50%;
    margin-top: -5cm; /* Half of the width */

    height:  10cm;  
    width: 1.545085cm;

    /* background-color: #1e2022; */
    background-color: transparent;
    opacity: 0;
    transition: all .4s ease;


    /* box-shadow: 0 4px 12px 0px #1e2022; */

}

#shortcuts{

    position: fixed;
    padding: 50px;

    cursor: none;
    /* width:  15%;
    height: 5%; */

    top: 50%;
    margin-top: -5cm; /* Half of the width */
    right: 2cm;
    height:  10cm;  
    width: 1.545085cm;

    /* background-color: #1e2022; */
    background-color: transparent;
    opacity: 0;
    transition: all .4s ease;


    /* box-shadow: 0 4px 12px 0px #1e2022; */

}

#toolbar > img{
    
    cursor: pointer;
    
    margin-bottom: 30px;
    padding-bottom: 20px;
}